.policy-heading .policy-viewdoc-buttons {
    text-align: center;
    margin: 15px;
}

#page-admin-tool-policy-acceptances .colselect {
    width: 35px;
}

#tool-policy-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}